@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #f5f5f5;
  font-family:'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #767676;
  margin: 0;
  padding: 0;
}
form {
  color: #fff;
}
iframe {
  height: 450px;
  width: 100%;
  margin-bottom: 30px;
  frameborder: none;
  border: none;
}

/*HEADER*/
#site-header {
  height: 150px;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  padding-top: 46px;
}
.top-logo > a > img {
  height: 70px;
  margin-top: -8px;
}
.glyphicon-earphone,
.glyphicon-home,
.glyphicon-envelope {
  font-size: 40px;
  margin-right: 15px;
  color: cadetblue;
}
.send-mess,
.location,
.send-div {
  display: flex;
}
.send-mess:hover,
.location:hover {
  text-decoration: none;
  color: red;
}
.send-mess-text {
  margin: auto;
  font-size: 18px;
}
.top-phone,
.top-location,
.top-send-email {
  display: flex;
  margin-top: 6px;
}
/*MENU*/
#header-nav {
  background-color: #343434;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
#nav-list a {
  color: #fff;
  padding-left: 44px;
}
#nav-list li:first-child {
  margin-top: 40px;
  border-top: 0px;
}
#nav-list a:hover {
  color: red;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  z-index: 999;
  position: absolute;
  clear: both;
  left: 85%;
}
.navbar-header button.navbar-toggle:focus {
  background: #343434;
}
.navbar-service button.navbar-toggle:focus {
  background: #343434;
}
/*SLIDER*/
.fade-carousel {
    position: relative;
    height: 60vh;
    width: 100%;
}
.fade-carousel .carousel-inner .item {
    height: 60vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f00;
    border-color: #f00;
    opacity: .3;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 3s all ease-in-out .1s;
       -moz-transition: 3s all ease-in-out .1s;
        -ms-transition: 3s all ease-in-out .1s;
         -o-transition: 3s all ease-in-out .1s;
            transition: 3s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 3s all ease-in-out .1s;
       -moz-transition: 3s all ease-in-out .1s;
        -ms-transition: 3s all ease-in-out .1s;
         -o-transition: 3s all ease-in-out .1s;
            transition: 3s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .3;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7,
.fade-carousel .slides .slide-8 {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/car4.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/car1.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/car3.jpg);
}
.fade-carousel .slides .slide-4 {
  background-image: url(../img/car9.jpg);
}
.fade-carousel .slides .slide-5 {
  background-image: url(../img/car5.jpg);
}
.fade-carousel .slides .slide-6 {
  background-image: url(../img/car10.jpg);
}
.fade-carousel .slides .slide-7 {
  background-image: url(../img/car7.jpg);
}
.fade-carousel .slides .slide-8 {
  background-image: url(../img/car11.jpg);
}

/*SLIDER END*/

/*ADVANTAGES START*/
#advantages {
  height: 150px;
  background-color: #343434;
  -webkit-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.5);
}
.advantage-item {
  margin-top: 20px;
  height: 110px;
  display: flex;
  border-right: 1px solid white;
}
.advantage-item:last-child {
  border-right: none;
}
.adv-img {
  height: 70px;
  margin-top: 17px;
}
.adv-text {
  margin: auto;
  margin-left: 15px;
  font-size: 25px;
  color: #fff;
}
/*ADVANTAGES END*/

/*CONTENT START*/
#content {
  margin-top: 40px;
}
.menu-item {
  height: 260px;
  padding: 0 5px 0 5px !important;
  margin-bottom: 10px;
}
.motor,
.oil,
.wheel,
.brake,
.parts,
.diagnostic,
.more {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
  background-size: cover;
}
.motor:hover,
.oil:hover,
.wheel:hover,
.brake:hover,
.parts:hover,
.diagnostic:hover,
.more:hover {
  text-decoration: none;
  color: #fff;
}
.more-button {
  position: absolute;
  margin: 100px 0 0 24%;
  width: 50%;
  height: 50px;
  border: 2px solid white;
}
.motor {
  background-image: url(../img/motor.jpg);
}
.motor:hover {
  background-image: url(../img/motor-hover.jpg);
}
.oil {
  background-image: url(../img/oil.jpg);
}
.oil:hover {
  background-image: url(../img/oil-hover.jpg);
}
.wheel {
  background-image: url(../img/wheel.jpg);
}
.wheel:hover {
  background-image: url(../img/wheel-hover.jpg);
}
.brake {
  background-image: url(../img/brake.jpg);
}
.brake:hover {
  background-image: url(../img/brake-hover.jpg);
}
.parts {
  background-image: url(../img/parts.jpg);
}
.parts:hover {
  background-image: url(../img/parts-hover.jpg);
}
.diagnostic {
  background-image: url(../img/kompdiag.jpg);
}
.diagnostic:hover {
  background-image: url(../img/kompdiag-hover.jpg);
}
.more {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  background: #272727;
}
.more:hover {
  color: red;
}
.all-serv {
  display: block;
  text-align: center;
  padding-top: 10px;
}
.menu-item-text {
  position: absolute;
  top: 195px;
  left: 25px;
}
.diagnostic h3 {
  top: 170px;
}
/*CONTENT END*/

/*ARGUMENTS START*/
.arguments {
  height: 220px;
}
.arguments-item h3 {
  font-size: 30px;
}
.arguments-item h4 {
  font-size: 25px;
}
.arg-item {
  display: flex;
}
.arguments-item > h3 {
  margin: 10px 0 30px 0;
}
.arg-img {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-right: 20px;
}
.more-about {
  display: block;
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0px;
  border: 2px solid black;
  width: 18%;
  margin: 40px 0 50px 40%;
}
.more-about:hover {
  border: 2px solid blue;
  text-decoration: none;
  color: blue;
}
/*ARGUMENTS END*/

/*PARTNERS*/
#partners {
  background-color: rgba(0, 0, 0, 0.1);
  height: 180px;
}
.partner-item1,
.partner-item2,
.partner-item3,
.partner-item4,
.partner-item5,
.partner-item6 {
  display: block;
  margin: 3% 0;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center;
  }
.partner-item1 {
  background-image: url(../img/mann.png);
}
.partner-item2 {
  background-image: url(../img/ngk.png);
}
.partner-item3 {
  background-image: url(../img/inter-cars.png);
}
.partner-item4 {
  background-image: url(../img/mobil.png);
}
.partner-item5 {
  background-image: url(../img/mg.png);
}
.partner-item6 {
  background-image: url(../img/esso.png);
}
/*CONTACTS*/
#contacts {
  height: 100%;
  margin-top: 60px;
  background-color: #333333;
  width: 100%;
  color: #fff;
}
.all-info {
  margin-top: 20px;
}
.all-info > h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.all-info > p {
  margin-bottom: 20px;
  font-size: 18px;
}
.all-info > h4 {
  font-size: 16px;
  color: #999;
}
.send-mes {
  display: block;
  background-color: #fff;
  color: black;
  text-align: center;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0px;
  border: 2px solid black;
  width: 75%;
}
.send-mes:hover {
  text-decoration: none;
  color: #31708f;
}
.map {
  margin-top: 30px;
}
iframe {
  box-shadow: 0px 0px 6px 4px rgba(255,255,255,1);
}
/*CONTACTS END*/

  /*FOOTER*/
footer {
  height: 75px;
  text-align: center;

}
.copyright {
  margin-top: 28px;
}
/*FOOTER END*/



/*POP UP*/
.send-mess {
  cursor:pointer;
}
.popup {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  display:none;
}
.popup_bg {
  position:absolute;
  z-index:1;
  height:100%;
  width:100%;
}
.form {
  position: fixed;
  z-index:999;
  width: 650px;
  top: 120px;
  left: 31%;
  padding:30px 20px;
  background: #354044;
}
.form input {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 0;
  border: none;
  background: #fff;
  color: black;
}
.form input:focus {
      border-color: #337ab7;
      color: black;
      box-shadow: 0px 0px 5px 3px rgba(79,133,240,1);
}
#text-message {
  max-width: 100%;
  color: black;
  height: 90px;
  border-radius: 0;
  color: #fff;
  margin-bottom: 30px;
  background-color: #fff;
}
#text-message:focus {
  color: black;
  box-shadow: 0px 0px 5px 3px rgba(79,133,240,1);
}
#send {
  height: 35px;
}
#send:hover {
  background-color: rgb(166, 179, 226);
}
form > h3 {
  font-size: 30px;
  margin: 0 0 18px 18%;
}
form > p {
  margin: 0 0 20px 25%;
}
.close-btn {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #dc6868;
    margin-top: -20px;
}
.close-btn:hover {
    color: #ec2d2d;
    text-decoration: none;
}
/*POP UP END*/
#to-up {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 20px;
  background-image: url(../img/up-arrow.png);
}

/*MEDIA QUERIES*/

/*iPhone start*/
@media (min-width: 320px) and (max-width: 414px) {
  .container {
    padding: 0 !important;
  }
  .row {
    margin: 0px !important;
  }
  /*HEADER*/
  .col-mob-12 {
    width: 100% !important;
  }
  .col-mob-6 {
    width: 50% !important;
  }
  .about > img {
    width: 100%;
    margin: 0 0 20px 0;
  }
  #site-header {
    height: 230px;
    padding-left: 20%;
  }
  #nav-list li {
    border-top: 1px solid #fff;
  }
  .glyphicon-earphone,
  .glyphicon-home,
  .glyphicon-envelope {
    font-size: 30px;
  }
  .top-logo {
    margin-bottom: 15px;
  }
  /*HEADER END*/
  /*SLIDER START*/
  .hero {
      top: 70%;
      left: 50%;
  }
  .hero h1 {
      font-size: 2.5em;
  }
  .hero h3 {
      font-size: 15px;
  }
  .fade-carousel .slides .slide-1 {
    background-image: url(../img/car4-mobile.jpg);
  }
  .fade-carousel .slides .slide-2 {
    background-image: url(../img/car1-mobile.jpg);
  }
  .fade-carousel .slides .slide-3 {
    background-image: url(../img/car3-mobile.jpg);
  }
  .fade-carousel .slides .slide-4 {
    background-image: url(../img/car8-mobile.jpg);
  }
  .fade-carousel .slides .slide-5 {
    background-image: url(../img/car5-mobile.jpg);
  }
  .fade-carousel .slides .slide-6 {
    background-image: url(../img/car6-mobile.jpg);
  }
  .fade-carousel .slides .slide-7 {
    background-image: url(../img/car7-mobile.jpg);
  }
  .fade-carousel .slides .slide-8 {
    background-image: url(../img/car11-mobile.jpg);
  }
  /*SLIDER END*/
  /*ADVANTAGES*/
  #advantages {
    height: 270px;
    margin-bottom: 30px;
  }
  #content {
    margin-top: 0;
  }
  .advantage-item:nth-child(2) {
    border-right: none;
  }
  .adv-text {
    margin-left: 5px;
    font-size: 0.8em;
  }
  /*ARGUMENTS START*/
  .arguments-item > h3 {
    margin: -15px 0 30px 0;
    font-size: 25px;
    text-align: center;
  }
  .more-about {
    width: 60%;
    margin: 6% 0 30px 20%;
  }

  /*ARGUMENTS END*/
  /*PARTNERS*/
  #partners {
    height: 100%;
  }
  /*PERTNERS*/
  .send-mes {
    width: 100%;
  }
  #to-up {
    right: 2%;
    bottom: 10px;
  }
  .form {
    width: 90%;
    height: 530px;
    left: 5%;
    top: 15px;
  }
  .form input {
    width: 100%;
    height: 80%;
  }
  #text-message {
    max-width: 100%;
    height: 80%;
  }
  form > h3 {
    font-size: 25px;
    margin: 0px 0 18px 20%;
  }
  form > p {
    margin: 0 0 20px 0%;
  }
}
/*iPhone end*/

/*iPad start*/
@media (min-width: 729px) and (max-width: 1024px) {
  .container {
    width: 750px;
  }
  /*HEADER*/
  .top-logo > a > img {
  height: 60px;
  }
  .glyphicon-earphone,
  .glyphicon-home,
  .glyphicon-envelope {
    font-size: 32px;
    margin-right: 7px;
  }
  .send-mess-text {
    margin: auto;
    font-size: 13px;
  }
  .top-phone,
  .top-location,
  .top-send-email {
    font-size: 13px;
  }
  /*SLIDER*/
  .hero {
      top: 70%;
      left: 50%;
  }
  .hero h1 {
      font-size: 4em;
  }
  .hero h3 {
      font-size: 20px;
  }
  /*ADVANTAGES*/
  .adv-text {
    margin-left: 10px;
    font-size: 1em;
  }
  /*CONTENT*/
  .more-about {
    font-size: 18px;
    width: 30%;
    margin: 4% 0 44px 33%;
  }
  .more {
    font-size: 16px;
  }
  /*PARTNERS*/
  #partners {
    height: 100%;
  }
  /*CONTACT US*/
  .form {
    width: 450px;
    top: 120px;
    left: 20%;
  }
  form > h3 {
    margin: 0 0 18px 26%;
  }
  form > p {
    margin: 0 0 20px 16%;
  }
}
@media (min-width: 729px) and and (max-width: 1024px)(orientation: landscape) {
  .more-about {
    margin: 95px 0 44px 33%;
  }
  #partners {
    height: 170px;
  }
  iframe {
    width: 210%;
 }
 .form {
   left: 29%;
 }
}
/*iPad end*/

/*PAGE ABOUT BEGIN*/
.about {
  background-color: rgb(240, 240, 240);
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 0px 17px 2px rgba(128,126,128,1);
}
.about-img {
  width: 45%;
  float: right;
  margin: 0 0 10px 20px;
}
.about > p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5em;
}
.about > h3 {
  font-size: 24px;
  color: black;
  margin-top: 0;
}
.about > h4 {
    font-size: 20px;
    color: black;
}
/*PAGE ABOUT END*/

/*PAGE SERVICES BEGIN*/

#collapsable-service-nav {
    padding: 0;
    border: none;
    width: 100%;
    padding: 0;
}
#service-nav {
  background-color: #343434;
  border: none;
  border-top: 1px solid #b00000;
}
#navbarToggleServ {
  color: white;
  margin-right: -4px;
}
#section-menu {
  border-radius: 0;
  padding: 0;
  display: inline-block;
  background-color: #3d3e40;
  width: 100%;
  margin: 0 auto;
}
#section-menu > li {
  width: 100%;
	list-style: none;
	position: relative;
}

#section-menu > li > a {
	padding: 10px 12px 12px;
	color: white;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	display: block;
	border-top: 1px solid #b72727;
}
#section-menu > li > a:hover {
	background-color: grey;
}
.focus-item {
	background-color: #b00000;
}

#section-menu > li:first-child a {
	border-top: none;
}

#section-menu > li:first-child a:hover {
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}

#section-menu > li:last-child a:hover {
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
.kindofserv,
.menu {
  color: red;
  position: absolute;
  left: -120px;
  text-transform: uppercase;
  top: 6px;
}
.menu {
  left: -60px;
}

/*PAGE SERVICES END*/
